/* .class{
    background-color: lightcoral;
} */
.class:nth-child(odd){
    background-color: lightcoral;
    font-family: Verdana, "DejaVu Sans",sans-serif;
}
#num2{
    color:blue;
    font-size: 36px;
}
.class:nth-of-type(2){
    font-size: 24px;
}
#num4{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}